html {
  color-scheme: dark light;
}

h1 {
  font-weight: bold;
  font-size: 6em;
}

h2 {
  font-weight: bold;
  font-size: 4em;
}
p {
  font-size: 2em;
}

li {
  font-size: 2em;
}

pre {
  font-size: 1em;
  text-align: right;
  font-weight: bold
;
}

body {
  margin: 0;
  font-family: 'Prompt', sans-serif;
  color: white;
  background: #282b30;
  overflow-x: hidden;

}

a:link {
  color: #ff5047;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #c73d36;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #f7635b;
  background-color: transparent;
  text-decoration: underline;
}



section {
position: relative;
display: flex;
flex-direction: column;
align-items: center;
min-height: 400px;
padding: 100px 20vw;
}

footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100px;
  padding: 20px 20vw;
}

.list {
  max-width: 50rem;
  margin-inline: auto;
  padding-inline: 1rem;
  text-align: center;
}


.blue {
background: #454FBF ;
}

.red {
  background: #ff5047;
}

.green {
  background: #52885a;
}
.dark{
  background: rgb(37, 37, 37);
}


.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.layer1 {
  background-image: url('./layered-waves-haikei.svg');
}

button {
  --c:  #ff5047; /* the color*/
  
  box-shadow: 0 0 0 .1em inset var(--c); 
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: 
    var(--_g) calc(var(--_p,0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p,0%)) 0%,
    var(--_g) calc(var(--_p,0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p,0%)) 100%;
  background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;

  font-size: 2.5rem;
  cursor: pointer;
  padding: .1em .6em;
  font-weight: bold;  
  border: none;
}
button:hover {
  --_p: 100%;
  transition: background-position .4s, background-size 0s;
}
button:active {
  box-shadow: 0 0 9e9q inset #0009; 
  background-color: var(--c);
  color: #fff;
}